* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --handle-size: 3rem;
  --img-gap: 0.25rem;
}
body {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-left: 25px;
}

.logo img {
  width: 152px;
  height: 44px;
  margin-left: 45px;
}

.navlist ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navlist a:hover {
  color: #bdbdbd;
}

.navlist a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  line-height: 77px;
  color: #ffffff;
}

.navlist-right ul {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}

.navlist-right ul li {
  padding-right: 20px;
}

.navlist-right a {
  text-decoration: none;
  color: white;
}
.navlist-right a:hover {
  color: #bdbdbd;
}
.navlist-right img {
  width: 32px;
  margin-right: 8px;
}

.navlist-right i:hover {
  cursor: pointer;
  color: #bdbdbd;
}
#menu-icone {
  font-size: 1.625rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
.user {
  display: flex;
  align-items: center;
}

.navlist-right i {
  font-size: 20px;
}

.img-principal img {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.8) 80%,
      rgb(0, 0, 0) 100%
    ),
    url(../img/principal.jpg);
  background-size: cover;
  padding: 0.26rem 0.75rem 0 0.75rem;
}

.principal {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  margin-top: 150px;
}

.container-total {
  padding: 0 3rem;
}

.container-all {
  margin-top: 50px;
}

.texth1 h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.spans {
  margin: 15px 0;
}

.spans .spans-container {
  color: #a3a3a3;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.span-vazio {
  color: #a3a3a3;
  margin: 0 4px;
}

.span-border {
  border: 1px solid #a1a1a1;
  padding: 0 5px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.descricao {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 500px;
  max-width: 100%;
}

.simples {
  display: flex;
  align-items: center;
  margin: 15px 0;
  margin-bottom: 100px;
}

.simples .estrelado {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 5px;
}
.simples .pessoas {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: Helvetica, sans-serif;
}

.buttons-principal {
  margin-top: 32px;
}

.buttons-principal button {
  width: 150px;
  height: 50px;
  color: #fff;
  margin-right: 0.75rem;
  font-weight: 600;
  border-radius: 0.13rem;
  background: rgba(27, 27, 27, 0.8);
  font-family: inherit;
  font-size: 100%;
  border: 0;
  cursor: pointer;
}

.buttons-principal i {
  padding-right: 10px;
}

.buttons-principal button:hover {
  background: rgba(124, 124, 124, 0.8);
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 4;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(80% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 1rem;
  transition: all 0.3s ease;
}
.slider img:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(29, 29, 29, 0.548);
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background: transparent;
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 1.3rem;
  margin: 0;
}

.progress-bar {
  display: flex;
  gap: 0.25rem;
}

.progress-item {
  flex: 0 0 1.5rem;
  min-width: 1.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
}

@media (max-width: 800px) {
  .navlist-right {
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: black;
    text-align: left;
    transition: all 0.3s;
  }
  .navlist-right a {
    display: block;
    padding: 1.1rem;
    margin: 1.3rem;
    border-left: 2px solid #ffffff;
  }
  .navlist-right a:hover {
    background: #ffffff;
  }
  .navlist-right a::after {
    display: none;
  }
}

@media (max-width: 610px) {
  .logo img {
    width: 120px;
    height: 34px;
  }
  .navlist a {
    padding: 5px;
    font-size: 14px;
    line-height: 67px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 475px) {
  .logo img {
    width: 100px;
    height: 30px;
  }
  .simples .pessoas {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1rem;
  }
  .progress-item {
    display: none;
  }
  .progress-bar {
    display: none;
  }
  .slider {
    --items-per-screen: 1;
    transition: all 0.3s ease;
  }
  .logo img {
    width: 80px;
    height: 30px;
  }
  .navlist a {
    padding: 5px;
    font-size: 12px;
    line-height: 60px;
    transition: all 0.3s ease;
  }
  .simples .estrelado {
    font-size: 12px;
  }
  .buttons-principal button {
    width: 130px;
    height: 50px;
  }
}
@media (max-width: 375px) {
  .logo img {
    width: 65px;
    height: 30px;
    margin-left: 15px;
    transition: all 0.3s ease;
  }
  .buttons-principal {
    display: flex;
  }
  .buttons-principal button {
    width: 100px;
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .logo img {
    width: 58px;
    height: 20px;
    margin: 0;
  }
  .navlist a {
    font-size: 10px;
    transition: all 0.3s ease;
  }
  .container-all {
    font-size: 10px;
    width: 200px;
  }
}
